body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}


/*Navbar*/
#header-nav {
	border-radius: 0;
	border: 0;
	/*height: 200px;*/
}

#divnav {
	border: 1px solid black;
}

/*Navbar end*/


/*Home Page*/
.container .jumbotron {
	padding: 0;
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}

#order-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	background: url('../images/tortugas-logo.png') no-repeat;
	background-position: center;
}

#order-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#order-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: 0.8;
}

/*End of Home Page*/


/* Menu Categories Page*/
#menu-categories-title {
	margin-bottom: 50px;

}

.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	margin: 0 auto 15px;
	background-color: white;
	color: grey;
}

.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
	text-decoration: none;

}


nav ul li {
	list-style: none;
	color: white;
}

nav ul li a {
	color: white;
	font-size: 20px;
}

nav ul li a:focus, nav ul li a:hover {
	color: white;
	text-decoration: none;
}

a .category-tile: hover, a .category-tile: focus {
	text-decoration: none;
	color: black;
}

div a div h3: hover, div a div h3: focus {
	text-decoration: none;
}

/* End of Menu Categories Page*/


